body {
	background-color: #00FF00;
}

p {
	color: #FF00FF;
	font-family: 'Courier New', Courier, monospace;
	font-size: 14px;
}

h1 {
	color: #FF0000;
	font-family: 'Courier New', Courier, monospace;
	font-size: 24px;
}


.darkBlueClass{
	color: #0000FF;
	font-family: 'Courier New', Courier, monospace;
	font-size: 14px;
}

#aqua {
	color: #00FFFF;
	font-family: 'Courier New', Courier, monospace;
	font-size: 10px;
    font-weight: bold;
}
